#name-error-prompt, #photo-error-prompt {
    font-weight: bold;
    color: red;
}

#loading-btn-text, #post-survey-btns, #matchContainer {
    display: none;
}

#match-name {
    font-weight: bold;
}

#match-photo {
    width: 60vw;
    height: auto;
}