#name-error-prompt, #photo-error-prompt {
    font-weight: bold;
    color: red;
}

#loading-btn-text, #post-survey-btns, #matchContainer {
    display: none;
}

#match-name {
    font-weight: bold;
}

#match-photo {
    width: 80%;
}

body {
    background-image: radial-gradient(rgb(172, 227, 248), rgb(70, 200, 252));
    background-repeat: no-repeat;
    background-size: cover;
}

[data-link] {
    cursor: pointer;
  }
